*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-bg: #141414;
    --color-bg-2: #151515;
    --color-primary: #7cd235;
    --color-primary-dark: #2bb34f;
    --color-white: #ffffff;
    --color-gray-1: #303030;
    --color-gray-2: #8f8f8f;
    --color-gray-3: #d1d1d1;
    --color-gray-4: #a6a6a6;
    --color-gray-5: #d8d8d8;
    --color-gray-6: #f1f1f1;
    --color-gray-7: #515151;
    --color-gray-8: #939393;
    --color-gray-9: #898989;

    --color-red-1: #ed7474;
    --color-red-2: #e07979;

    --color-fb-1: #263c68;
    --color-fb-2: #3b5998;
    --color-tw-1: #0695cb;
    --color-tw-2: #00aced;
    --color-gg-1: #9d9d9d;
    --color-gg-2: #c7c7c7;

    --font-1: "Open Sans", sans-serif;
    --font-2: "Nunito", sans-serif;
    --font-3: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--font-1);
    font-weight: 400;
    background: var(--color-bg);
    color: var(--color-white);
    position: relative;
}

::selection {
    background: var(--color-primary);
}

.container {
    display: flex;
    width: 108.3rem;
    height: 66rem;
}

.login {
    flex: 58.18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-gray-1);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem 0 0 1rem;
}

.login__heading {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 6.1rem;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
    width: 31.8rem;
    margin: 3.4rem 0 2.5rem 0;
}

.heading-bold {
    font-weight: 800;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
}

.input-box__text-box:focus-within {
    border-color: var(--color-white);
    color: var(--color-white);
}

.input-box:focus-within > .input-box__icon-box {
    border-color: var(--color-white);
}

.input-box:focus-within > .input-box__icon-box > .input-box__icon {
    fill: var(--color-white);
}

.input-box__icon-box {
    width: 5.2rem;
    height: 5.2rem;
    border: 0.1rem solid var(--color-gray-2);
    border-right: none;
    border-radius: 0.8rem 0 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box__icon {
    fill: var(--color-gray-3);
    width: 2rem;
    height: 2rem;
}

.input-box__icon--key {
    width: 2.1rem;
    height: 0.9rem;
}

.input-box__text-box {
    width: 27.8rem;
    padding-left: 2rem;
    outline: none;
    border: 0.1rem solid var(--color-gray-2);
    background: var(--color-gray-1);
    border-radius: 0 0.8rem 0.8rem 0;
    color: var(--color-gray-2);
}

.input-box__text-box::placeholder {
    font-family: var(--font-1);
    font-size: 1.4rem;
    color: var(--color-gray-2);
    user-select: none;
}

.input-box__icon--show-password {
    width: 2rem;
    height: 1.37rem;
    fill: var(--color-gray-3);
    margin-left: -3.4rem;
    align-self: center;
}

.input__error-message {
    visibility: hidden;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(--color-red-2);
    margin: 0.7rem 0 0.6rem 0;
}

.login-options {
    font-family: var(--font-2);
    margin: 1.5rem 0 1.5rem 0;
    user-select: none;
    display: flex;
    align-items: center;
}

.login-options__remember-checkbox {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--color-gray-2);
    border-radius: 0.4rem;
}

.login-options__remember-checkbox:focus {
    border-color: var(--color-white);
    outline: none;
}

.login-options__remember-checkbox:checked {
    background: var(--color-primary);
    border: none;
    background-image: url("assets/images/check.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.login-options__remember-label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--color-gray-2);
    padding-left: 1rem;
}

.login-options__login-button {
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--color-white);
    margin-left: auto;
    width: 10rem;
    height: 4rem;
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
}

.login-options__login-button:focus {
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
    border: 0.1rem solid var(--color-white);
    outline: none;
}

.login-options__login-button:hover {
    background: var(--color-primary);
}

.login-options__login-button:active {
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
    border: none;
}

.account-options {
    display: flex;
    justify-content: space-between;
    width: 33rem;
    margin-bottom: 2.1rem;
}

.account-options__link {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: inherit;
}

.separator {
    display: flex;
    margin-bottom: 2.3rem;
}

.separator__line {
    width: 13.4rem;
    height: 0.1rem;
    margin-top: 1rem;
    border: 0 solid var(--color-white);
    background: var(--color-white);
}

.separator__text {
    font-size: 1.4rem;
    font-family: var(--font-3);
    line-height: 1.6rem;
    text-align: center;
    width: 6.1rem;
}

.social-logins {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.social-logins__box {
    display: flex;
    width: 24rem;
    height: 4rem;
    margin-bottom: 2.4rem;
    cursor: pointer;
}

.social-logins__text-box {
    flex: 83.76%;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0 0.8rem 0.8rem 0;
}

.social-logins__icon-box {
    flex: 16.24%;
    height: 100%;
    border-radius: 0.8rem 0 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-logins_icon {
    width: 2rem;
    height: 1.8rem;
    fill: var(--color-white);
}

.social-logins_icon--twitter {
    width: 2rem;
    height: 1.6rem;
}

.social-logins_icon--google {
    width: 1.4rem;
    height: 1.4rem;
}

.social-logins__text {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--color-white);
    text-transform: uppercase;
    margin-left: 2.8rem;
}

.social-logins__icon-box--facebook {
    background: var(--color-fb-1);
}

.social-logins__icon-box--twitter {
    background: var(--color-tw-1);
}

.social-logins__icon-box--google {
    background: var(--color-gg-1);
}

.social-logins__text-box--facebook {
    background: var(--color-fb-2);
}

.social-logins__text-box--twitter {
    background: var(--color-tw-2);
}

.social-logins__text-box--google {
    background: var(--color-gg-2);
}

.carousel {
    flex: 41.82%;
    background: var(--color-gray-5);
    border-radius: 0 1rem 1rem 0;
}

.carousel__element {
    width: 45.3rem;
}

.carousel__image {
    width: 45.3rem;
    height: 66rem;
}

.carousel__buttons {
    position: relative;
    width: auto;
    height: 0.7rem;
    top: 27.9rem;
    right: 26.6rem;
    display: flex;
    align-items: center;
}

.carousel__button {
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.9rem;
    border-radius: 50%;
    border: none;
    background: var(--color-gray-2);
    cursor: pointer;
}

.carousel__button--active {
    background: var(--color-white);
}

.carousel__button:last-child {
    margin: 0;
}

@media only screen and (max-width: 1023px) {
    body {
        align-items: flex-start;
        background: var(--color-gray-1);
    }
    .carousel {
        display: none;
    }
    .carousel__buttons {
        display: none;
    }
    .login {
        flex: 100%;
        height: inherit;
        box-shadow: none;
        border-radius: 0;
    }
    .login__heading {
        margin-top: 10.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .login__heading {
        font-size: 3.5rem;
        margin: 4.5rem 0 3.8rem 0;
        line-height: 4.8rem;
        text-align: center;
    }
    .input-box__text-box {
        width: 18.8rem;
    }
    .account-options {
        width: 24rem;
    }
    .separator__line {
        width: 9rem;
    }
}

/*Homepage styles*/
.homepage-body {
    background: var(--color-bg-2);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    position: relative;
}

.header {
    width: 100%;
    height: 12rem;
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
    box-shadow: 0.1rem -0.3rem 3.6rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.header__header-options {
    width: 94.4%;
    display: flex;
    justify-content: space-between;
}

.header__heading {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.8rem;
    letter-spacing: 0.18rem;
    text-transform: uppercase;
    width: 19.8rem;
    margin-top: 3.4rem;
    margin-right: auto;
}

.header__search-container:hover > .header__search-bar::placeholder {
    color: var(--color-gray-9);
}

.header__search-container:hover > .header__search-icon {
    fill: var(--color-gray-9);
}

.header__search-icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-gray-4);
    position: relative;
    top: 0.4rem;
    left: 3.9rem;
}

.header__search-bar {
    width: 36.2rem;
    height: 4rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    margin-top: 3.2rem;
    padding-left: 6.1rem;
    background: var(--color-gray-6);
    color: var(--color-gray-9);
}

.header__search-bar::placeholder {
    font-family: var(--font-1);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--color-gray-4);
}

.header__account-container {
    width: 19.8rem;
    margin-top: 2.93rem;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__logout-text {
    margin: 0 1.1rem 0 5.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-decoration: none;
    color: var(--color-white);
}

.header__logout-icon {
    width: 1.6rem;
    height: 1.2rem;
    margin-right: 3.23rem;
    fill: var(--color-white);
    cursor: pointer;
}

.header__user-image-box {
    width: 4.39rem;
    height: 4.53rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__user-image {
    border-radius: 50%;
}

.header__line {
    width: 94.4%;
    height: 0.1rem;
    background: var(--color-white);
    border: 0 solid var(--color-white);
    margin-bottom: 2.9rem;
    align-self: center;
    justify-self: flex-end;
}

.home-container {
    display: flex;
    width: 100vw;
}

/*Sidebar*/
.sidebar {
    width: 26rem;
    box-sizing: content-box;
    padding: 3.3rem 1.2rem 0 3.8rem;
}

.sidebar__items {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item:last-child {
    margin: 0;
}

.item {
    margin-bottom: 1.1rem;
}

.item__link {
    font-weight: 800;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--color-white);
}

.item__link:hover,
.item__link--active {
    color: var(--color-primary);
}

.item__options {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.option:first-child {
    margin-top: 3.3rem;
}

.option {
    font-size: 2.2rem;
    margin-bottom: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option:last-child {
    margin-bottom: 2.2rem;
}

.option:hover > .option__icon {
    fill: var(--color-primary);
}

.option:hover > .option__text {
    color: var(--color-primary);
}

.option:active > .option__text {
    font-weight: 700;
}

.option__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-white);
    margin-right: 1.4rem;
}

.option__text {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.home-heading-section {
    width: 100%;
    height: 8.6rem;
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
}

.home-heading-container {
    margin-right: auto;
}

.home-heading {
    font-weight: 800;
    font-size: 5.5rem;
    line-height: 7.5rem;
}

.home-heading-2 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin-top: -1.1rem;
}

.button-cards-container {
    margin-right: 4rem;
}

.button-cards {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.button-cards--normal {
    margin-right: 2.4rem;
}

.button-cards__rectangle {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    fill: var(--color-gray-1);
}

.button-cards__rectangle--active {
    fill: var(--color-gray-7);
}

/*cards*/
.cards-container {
    margin-top: 3rem;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
}

.card {
    width: 36.3rem;
    height: 31.4rem;
    background: var(--color-gray-1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card__image-container {
    width: 100%;
    height: 20.5rem;
}

.card__image {
    width: 36.3rem;
    height: 20.5rem;
}

.card__information {
    display: flex;
    padding: 0.98rem 2rem 2rem 2rem;
}

.card__description-container {
    margin-right: auto;
}

.card__heading {
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 3.1rem;
    margin-bottom: 0.6rem;
}

.card__description {
    display: flex;
    flex-direction: column;
}

.description-item {
    width: 18.6rem;
    font-size: 1.2rem;
    font-family: var(--font-1);
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--color-gray-8);
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
}

.description-item__definition {
    margin-left: auto;
}

.description-item__line {
    width: 18.6rem;
    height: 0.1rem;
    background: #3d3d3d;
    border: 0 solid var(--color-gray-8);
    margin-top: 0.25rem;
}

.description-item__line:first-of-type {
    margin-bottom: 0.65rem;
}

.card__icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.console-icons {
    width: 6rem;
    height: 1.3rem;
    fill: var(--color-white);
    margin: 1rem 0 0.6rem 0;
}

.card__number {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-primary-dark);
    margin-bottom: 0.6rem;
}

.card__button {
    width: 4.7rem;
    height: 2.4rem;
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
}

.card__button:hover {
    background: var(--color-primary);
}

.card__button:active {
    background: linear-gradient(
        180deg,
        var(--color-primary) 0%,
        var(--color-primary-dark) 100%
    );
}

.button__icon {
    fill: var(--color-white);
}

.button__icon--plus-sign {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.9rem 0.1rem 0.7rem 1rem;
}

.button__icon--gift-box {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.3rem 0.4rem 0.4rem 0;
}

.footer {
    width: 100vw;
    height: 10.8rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    position: fixed;
    bottom: 0;
}

/*descomentar al cambiar a la vista de 3 columnas*/
.card__number--one-column {
    display: none;
}

.card__synopsis-container {
    display: none;
}

/*homepage styles and media queries for tablet and mobile */
.hamburger {
    fill: var(--color-white);
    width: 2.8rem;
    height: 2.4rem;
    cursor: pointer;
}

.hamburger--header {
    margin-top: 4rem;
    margin-right: auto;
    display: none;
}

.sidebar__heading-container {
    width: 26.7rem;
    height: 3.8rem;
    margin-bottom: 4.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.sidebar__heading {
    font-family: var(--font-1);
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.8rem;
    text-transform: uppercase;
    letter-spacing: .174rem;
}

.sidebar__logout-container {
    width: 10.3rem;
    align-items: center;
    margin-top: 29.5rem;
    display: none;
}

.sidebar__logout-icon {
    width: 2rem;
    height: 1.5rem;
    fill: var(--color-white);
    margin-right: 1.1rem;
    cursor: pointer;
}

.sidebar__logout-text {
    font-size: 2.2rem;
    line-height: 3rem;
    text-decoration: none;
    color: var(--color-white);
}

@media only screen and (max-width: 1430px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media only screen and (max-width: 1023px) {
    .sidebar {
        width: 30.3rem;
        height: 100vh;
        position: absolute;
        background: var(--color-bg-2);
        top: 0;
        z-index: 10;
        margin: 0;
        padding-top: 3.4rem;
        padding-left: 4rem;
        box-shadow: 1.4rem 0 3.6rem .5rem rgba(0, 0, 0, 0.62);
    }

    .sidebar, 
    .header__heading,
    .header__logout-text,
    .header__logout-icon,
    .hamburger--sidebar {
        display: none;
    }

    .header__header-options {
        width: 89.6%;
    }

    .hamburger--header {
        display: block;
    }

    .sidebar__logout-container,
    .sidebar__heading-container {
        display: flex;
    }

    .header__account-container {
        width: auto;
    }

    .header__line {
        width: 89.6%;
    }

    .main-container {
        padding-left: 4rem;
    }

    .card {
        width: 33.1rem;
        height: 31.4rem;
    }
}

/*mobile*/
.header__search-icon-mobile {
    width: 2.3rem;
    height: 2.3rem;
    fill: var(--color-white);
    margin: 4rem 4rem 0 0;
    cursor: pointer;
    display: none;
}

.header__search-bar--mobile {
    width: 76.88%;
    padding-left: 2.2rem;
    margin-bottom: 3.2rem;
    display: none;
}

@media only screen and (max-width: 767px) {
    .header {
        height: 10.4rem;
        /*al clickear la lupa*/
        /* height: 16.6rem; */
    }

    .header__search-container,
    .header__search-icon,
    .header__account-container,
    .header__line {
        display: none;
    }

    .hamburger--header {
        margin-left: 4rem;
    }

    /*al clickear la lupa*/
    /* .header__search-bar--mobile, */
    .hamburger--sidebar,
    .header__search-icon-mobile {
        display: block;
    }

    /*al abrir la sidebar*/
    /* .sidebar {
        width: 100vw;
        height: 100vh;
        display: flex;
        padding-left: 3rem;
        flex-direction: column;
        box-shadow: none;
    } */

    .sidebar__logout-container {
        margin-top: 4rem;
        padding-bottom: 4rem;
    }

    /*al abrir la sidebar*/
    /* .main-container {
        display: none;
    } */

    .main-container {
        padding: 0;
    }

    .home-heading-section {
        width: auto;
        height: auto;
        margin: 2.4rem 0 3rem 4rem;
    }

    .home-heading-container {
        margin: 0;
    }

    .home-heading {
        font-size: 4.5rem;
    }

    .home-heading-2 {
        margin-top: 0;
    }

    .button-cards-container {
        display: none;
    }

    .cards-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        margin: 0;
    }

    .card {
        width: 100vw;
        border-radius: 0;
    }

    .card__image-container {
        height: 16.4rem;
        overflow: hidden;
    }

    .card__image {
        width: inherit;
    }

    .card__information {
        flex-direction: column;
        padding: 1rem 4rem 2rem 4rem;
    }

    .card__description-container {
        width: auto;
        margin: 0;
    }

    .card__description,
    .description-item,
    .description-item__line {
        width: 100%;
    }

    .card__icons-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.4rem;
    }

    .console-icons,
    .card__number {
        margin: 0;
    }
}

/*cards in one column*/
/* .cards-container {
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
}

.card {
    width: 69.6rem;
    height: 53.8rem;
}

.card__image-container {
    height: 31.5rem;
}

.card__image {
    width: 69.7rem;
    height: 31.5rem;
}

.card__information {
    padding: 2rem 4rem 2rem 4rem;
}

.card__heading {
    margin-bottom: 1.7rem;
}

.card__description {
    width: 35rem;
    height: 2.1rem;
    flex-direction: row;
    font-size: 1.2rem;
    font-family: var(--font-1);
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--color-gray-8);
}

.description-item {
    width: 15.5rem;
    margin-right: 4rem;
}

.card__number {
    display: none;
}

.card__number--one-column {
    display: inline;
}

.card__button {
    margin-top: 1.5rem;
}

.card__synopsis-container {
    width: 58.3rem;
    margin-left: 3.9rem;
    font-family: var(--font-1);
    font-size: 1.4rem;
    line-height: 1.9rem;
} */