.hide {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

.display-block {
    display: block !important;
}

.pos-fixed {
    position: fixed !important;
}

.vis-hidden {
    visibility: hidden !important;
}

.border-red {
    border-color: var(--color-red-2) !important;
}

.text-red {
    color: var(--color-red-2) !important;
}

.text-red::placeholder {
    color: var(--color-red-2) !important;
}

.icon-red {
    fill: var(--color-red-2) !important;
}
